$White: rgb(255, 255, 255);
$Black: rgb(14, 23, 38);
$Teal: rgb(119, 163, 148);
$Blue: rgb(83, 106, 124);
$LightBlue: rgb(68, 137, 159);
$Yellow: rgb(194, 162, 113);
$Gray: rgb(109, 109, 109);
$Overlay: rgba(0, 0, 0, 0.2);
$AlexaLightBlue: rgb(119, 155, 236);
$AlexaBlue: rgb(108, 234, 214);

$Title: 78px;
$Subtitle: 48px;
$Header: 36px;
$Body: 28px;

$Accordion: 18px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  // border: 1px solid red;
}

html {
  scroll-behavior: smooth;
}

body {
  .title {
    font-size: $Title;
    color: $White;
  }

  .subtitle {
    font-size: $Subtitle;
    color: $White;
  }

  .header {
    font-size: $Header;
    color: $White;
  }

  .body {
    font-size: $Body;
    color: $White;
  }
}

.landing {
  height: 100vh;
  width: 100%;
  display: flex;

  .left {
    background: linear-gradient(145deg, $LightBlue, $Teal, $Yellow);
    width: 75vw;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 0 0 2rem;
    text-decoration: none;

    .bottom {
      font-weight: 400;
      margin-bottom: 4vw;

      .body {
        font-style: italic;
      }

      #exception {
        margin-top: 4rem;
        font-weight: 300;
      }
    }

    .top {
      .subtitle {
        display: flex;
        align-items: center;
        gap: 8px;

        img {
          height: auto;
          width: 48px;
          filter: invert(1);
          padding-top: 6px;
        }
      }
    }
  }
  .right {
    width: 30rem;

    .top {
      background-color: $LightBlue;
      color: $LightBlue;
      height: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 16px;

      .body {
        display: flex;
        align-items: center;
        gap: 32px;
        justify-content: center;
        font-weight: 300;

        img {
          height: auto;
          width: 48px;
          filter: invert(1);
          padding-top: 6px;
        }

        #exception {
          font-size: $Subtitle;
        }
      }
      #shift {
        margin-left: 10px;
      }
    }

    .bottom {
      background-color: $Blue;
      height: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
      }

      img {
        height: 10rem;
        width: 10rem;
        box-shadow: 2px 2px 8px $Black;
      }

      #exception {
        height: auto;
        width: 8vw;
        filter: brightness(0) invert(1);
        box-shadow: 0 0 0;
        margin-bottom: 12px;
      }

      .body {
        margin: 12px 64px 0;
        text-align: center;
      }

      #italic {
        font-style: italic;
        font-weight: 300;
        font-size: $Body - 4px;
      }
    }
  }
}

.hero {
  height: 100vh;
  width: 100%;
  background-image: url("MainBackground.jpg"),
    linear-gradient(rgb(0, 0, 0, 0), rgb(0, 0, 0, 1) 55%);
  background-position: top;
  background-size: cover;
  background-blend-mode: soft-light;

  .header {
    padding: 1rem;
    font-weight: 600;
    display: block;
    text-decoration: none;
  }

  .content {
    margin: 16rem 14rem 0;
    display: flex;
    gap: 2vw;
    overflow-y: hidden;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    user-select: none;
    padding: 2vw 2vw 0 2vw;

    .section {
      border-radius: 16px;

      a {
        text-decoration: none;
      }

      button {
        all: unset;

        &:hover {
          cursor: pointer;
        }
      }

      img {
        background-color: $White;
        padding: 1rem;
        height: 14rem;
        width: 14rem;
        transition: transform 100ms ease-in;

        &:hover {
          transform: scale(1.1);
          cursor: pointer;
        }
      }

      #exception {
        padding: 0;
      }

      .body {
        font-weight: 600;
        padding-top: 0.5rem;
      }

      .info {
        color: $White;
        font-size: $Body;
        font-weight: 600;
        font-style: italic;
        padding: 6px;
        background-color: $Gray;
        text-align: center;
        border-radius: 32px;
        margin-top: 12rem;
        transition: transform 100ms ease-in;

        &:hover {
          cursor: pointer;
        }
      }

      &:hover {
        cursor: grab;
      }
    }

    .overlay {
      background-color: $Overlay;
      backdrop-filter: blur(3px);
      position: absolute;
      height: 100%;
      width: 100%;
      right: 0%;
      top: 100%;
      display: none;

      .italic {
        font-style: italic;
        font-weight: 400;
        font-size: $Subtitle;
        color: $White;
        text-align: center;
        margin-top: 35vw;
      }

      .bar {
        width: 100%;
        background: linear-gradient(
          90deg,
          $AlexaLightBlue 20%,
          $AlexaBlue 80%,
          $AlexaLightBlue
        );
        position: absolute;
        bottom: 0;
        height: 10px;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  ::-webkit-scrollbar {
    display: none;
  }
}
