* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body .title {
  font-size: 78px;
  color: rgb(255, 255, 255);
}
body .subtitle {
  font-size: 48px;
  color: rgb(255, 255, 255);
}
body .header {
  font-size: 36px;
  color: rgb(255, 255, 255);
}
body .body {
  font-size: 28px;
  color: rgb(255, 255, 255);
}

.landing {
  height: 48vw;
  display: flex;
}
.landing .left {
  background: linear-gradient(145deg, rgb(68, 137, 159), rgb(119, 163, 148), rgb(194, 162, 113));
  width: 75vw;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 0 0 2rem;
  text-decoration: none;
}
.landing .left .bottom {
  font-weight: 400;
  margin-bottom: 4vw;
}
.landing .left .bottom .body {
  font-style: italic;
}
.landing .left .bottom #exception {
  margin-top: 4rem;
  font-weight: 300;
}
.landing .left .top .subtitle {
  display: flex;
  align-items: center;
  gap: 8px;
}
.landing .left .top .subtitle img {
  height: auto;
  width: 48px;
  filter: invert(1);
  padding-top: 6px;
}
.landing .right {
  width: 25vw;
}
.landing .right .top {
  background-color: rgb(68, 137, 159);
  color: rgb(68, 137, 159);
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}
.landing .right .top .body {
  display: flex;
  align-items: center;
  gap: 32px;
  justify-content: center;
  font-weight: 300;
}
.landing .right .top .body img {
  height: auto;
  width: 48px;
  filter: invert(1);
  padding-top: 6px;
}
.landing .right .top .body #exception {
  font-size: 48px;
}
.landing .right .top #shift {
  margin-left: 10px;
}
.landing .right .bottom {
  background-color: rgb(83, 106, 124);
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.landing .right .bottom img {
  height: auto;
  width: 10vw;
  box-shadow: 2px 2px 8px rgb(14, 23, 38);
}
.landing .right .bottom #exception {
  width: 8vw;
  filter: brightness(0) invert(1);
  box-shadow: 0 0 0;
  margin-bottom: 12px;
}
.landing .right .bottom .body {
  margin: 16px;
  margin: 12px 0 0 0;
}
.landing .right .bottom #italic {
  font-style: italic;
  font-weight: 300;
  font-size: 24px;
}

.hero {
  height: 48vw;
  background-image: url("MainBackground.jpg"), linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0) 55%);
  background-position: top;
  background-size: cover;
  background-blend-mode: soft-light;
}
.hero .header {
  padding: 1rem;
  font-weight: 600;
  display: block;
  text-decoration: none;
}
.hero .content {
  margin: 15vw auto;
  display: flex;
  justify-content: center;
  gap: 2vw;
}
.hero .content .section {
  border-radius: 16px;
}
.hero .content .section img {
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  height: 12vw;
  width: 12vw;
}
.hero .content .section #exception {
  padding: 0;
}
.hero .content .section .body {
  font-weight: 600;
  padding-top: 0.5rem;
}
.hero .content .section .info {
  color: rgb(255, 255, 255);
  font-size: 28px;
  font-weight: 600;
  font-style: italic;
  padding: 6px;
  background-color: rgb(109, 109, 109);
  text-align: center;
  border-radius: 32px;
  margin-top: 7vw;
}/*# sourceMappingURL=index.css.map */